stages:
  - build
  - test
  - dockerize

variables:
  JAVA_HOME: "C:\\Program Files\\Microsoft\\jdk-17.0.14.7-hotspot"
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend

before_script:
  - echo "Starting GitLab CI/CD Pipeline..."
  - echo "Setting JAVA_HOME..."
  - $env:JAVA_HOME="C:\Program Files\Microsoft\jdk-17.0.14.7-hotspot"
  - echo $env:JAVA_HOME
  - $env:Path+=";C:\Program Files\Microsoft\jdk-17.0.14.7-hotspot\bin"
  - java -version

build:
  stage: build
  script:
    - echo "Building project..."
    - ./gradlew clean assemble
  artifacts:
    paths:
      - build/libs/*.jar

test:
  stage: test
  script:
    - echo "Running tests..."
    - ./gradlew test
  artifacts:
    reports:
      junit: build/test-results/test/TEST-*.xml

dockerize:
  stage: dockerize
  script:
    - echo "Logging into Docker Hub..."
    - docker login -u $env:DOCKER_USERNAME -p $env:DOCKER_PASSWORD $env:DOCKER_REGISTRY
    - docker build -t "$env:DOCKER_REGISTRY/$env:DOCKER_USERNAME/uplifted-backend:$env:CI_COMMIT_SHORT_SHA" .
    - docker push "$env:DOCKER_REGISTRY/$env:DOCKER_USERNAME/uplifted-backend:$env:CI_COMMIT_SHORT_SHA"
  only:
    - main
