stages:
  - build
  - test
  - sonarqube
  - dockerize

variables:
  JAVA_HOME: "C:\\Program Files\\Microsoft\\jdk-17.0.14.7-hotspot"
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend

before_script:
  - echo "Starting GitLab CI/CD Pipeline..."
  - echo "Setting JAVA_HOME..."
  - $env:JAVA_HOME="C:\Program Files\Microsoft\jdk-17.0.14.7-hotspot"
  - echo $env:JAVA_HOME
  - $env:Path+=";C:\Program Files\Microsoft\jdk-17.0.14.7-hotspot\bin"
  - java -version

build:
  stage: build
  script:
    - echo "Building project..."
    - ./gradlew clean assemble
  artifacts:
    paths:
      - build/libs/*.jar

test:
  stage: test
  script:
    - echo "Running tests..."
    - ./gradlew test jacocoTestReport
  artifacts:
    reports:
      junit: build/test-results/test/TEST-*.xml

sonarqube:
  stage: sonarqube
  image: gradle:7.6-jdk17
  script:
    - echo "Running SonarQube analysis..."
    - ./gradlew sonarqube -Dsonar.login="$SONAR_TOKEN" -Dsonar.host.url="$SONAR_HOST_URL"
  allow_failure: true
  only:
    - main


dockerize:
  stage: dockerize
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - echo "Using Docker runner for building image"
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build -t $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA .
    - docker push $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA
  only:
    - main
