stages:
  - build
  - test

variables:
  JAVA_HOME: "C:\\Program Files\\Microsoft\\jdk-17.0.14.7-hotspot"
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

before_script:
  - echo "Setting up environment..."
  - echo "Java Home: $JAVA_HOME"
  - Set-ExecutionPolicy Unrestricted -Scope Process -Force
  - ./gradlew --version || gradle wrapper

build:
  stage: build
  script:
    - ./gradlew assemble

test:
  stage: test
  script:
    - ./gradlew test
